/* General page setup */

* {
  margin: 0;
  padding: 0;
}

html {
  --main: #063642;
  --lightBackGr: #f2f4f7;
  --fontHeader: "Alumni Sans", Verdana, Arial, Helvetica, sans-serif;
  --fontMain: "Roboto", Verdana, Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
  font-family: var(--fontMain);
}

header {
  background-color: var(--lightBackGr);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: var(--fontHeader);
  letter-spacing: 5px;
}

a {
  text-decoration: none;
}

#bag-icon,
.mobile-menue {
  color: var(--main);
  font-size: 1.2rem;
}

#bag-icon:hover {
  color: #25b396;
  cursor: pointer;
}

hr {
  width: 80%;
  margin: 2rem auto;
}

/* Navigation */

.navigation {
  display: none;
}

.navigation-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0px;
  top: 6.2rem;
  width: 0%;
  background-color: var(--lightBackGr);
  z-index: 1;
  animation: menue 0.5s forwards;
}

@keyframes menue {
  100% {
    width: 100%;
  }
}

.nav-link {
  color: var(--main);
  font-family: var(--fontHeader);
  font-weight: 600;
  font-size: 25px;
}

.nav-link:hover {
  text-decoration: underline;
}

li {
  display: inline-block;
  padding: 1rem 2rem;
  letter-spacing: 3px;
}

/* footer */

footer {
  padding: 1rem;
  background-color: var(--main);
  text-align: center;
  color: var(--lightBackGr);
}

footer a,
footer i,
footer h1 {
  color: var(--lightBackGr);
  margin: 1rem;
}

#active {
  text-decoration: underline;
}

.logo {
  max-height: 4rem;
}

.header-text {
  width: auto;
  padding-top: 5rem;
  text-align: center;
  color: var(--main);
  font-family: var(--fontHeader);
  font-size: 3rem;
  letter-spacing: 5px;
  border-radius: 30px;
}

.box1 {
  height: 60vh;
  background-image: url("/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
}

.box1-text {
  width: 80%;
  position: relative;
  left: 5%;
  top: 30%;
  color: var(--lightBackGr);
  font-family: var(--fontHeader);
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.box1-action {
  position: relative;
  left: 15%;
  top: 40%;
  font-family: var(--fontMain);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main);
  padding: 1rem 2rem;
  background-color: var(--lightBackGr);
  border: none;
}

.box1-action:hover {
  text-decoration: underline;
  background-color: var(--main);
  color: var(--lightBackGr);
  cursor: pointer;
}

.box2 {
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightBackGr);
}

.box2-container1 {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  min-width: 25rem;
  background-image: url(../images/man.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.box2-container2 {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  min-width: 25rem;
  background-image: url(../images/woman.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.box2-container1:hover,
.box2-container2:hover {
  cursor: pointer;
  opacity: 70%;
}

.box2-text {
  width: 15rem;
  text-align: center;
  color: var(--lightBackGr);
  font-family: var(--fontHeader);
  font-size: 2.5rem;
  letter-spacing: 5px;
  background-color: rgba(6, 54, 66, 0.6);
  border-radius: 30px;
}

.box3 {
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Products container layout */

.product-container {
  min-width: 20rem;
  margin: 1rem;
  padding: 1rem;
}

.product-image {
  height: 20rem;
}

.product-name {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--main);
}

.product-price {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--main);
}

.product-add-bag {
  padding: 1rem;
  font-size: 1.5rem;
  color: #25b396;
}

.image-container {
  width: 100%;
  padding: 1rem;
  background-color: var(--lightBackGr);
  text-align: center;
  border-radius: 20px;
}

/* Product container layout end */

@media screen and (min-width: 950px) {
  .navigation {
    display: flex;
    padding: 0;
  }

  .mobile-menue {
    display: none;
  }

  .box2 {
    flex-direction: row;
  }

  .box3 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
