/* General page setup */

* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #063642;
  --lightBackGr: #f2f4f7;
  --actionColor: #f1a104;
  --fontHeader: "Alumni Sans", Verdana, Arial, Helvetica, sans-serif;
  --fontMain: "Roboto", Verdana, Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
  font-family: var(--fontMain);
}

.main-content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../images/stone.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* --------------- */

header {
  background-color: var(--lightBackGr);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: var(--fontHeader);
  letter-spacing: 5px;
}

p {
  margin: 10px;
  text-indent: 10px;
  line-height: 1.3;
  letter-spacing: 1.5px;
}

#bag-icon,
.mobile-menue {
  color: var(--main);
  font-size: 1.2rem;
}

#bag-icon:hover {
  color: #25b396;
  cursor: pointer;
}

#items {
  color: #bb0000;
}

hr {
  width: 80%;
  margin: 30px auto;
}

/* Navigation --> */

.navigation {
  display: none;
}

.navigation-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0px;
  top: 95px;
  width: 0%;
  background-color: var(--lightBackGr);
  z-index: 3;
  animation: menue 0.5s forwards;
}

@keyframes menue {
  100% {
    width: 100%;
  }
}

.nav-link {
  color: var(--main);
  font-family: var(--fontHeader);
  font-weight: 600;
  font-size: 25px;
}

.nav-link:hover {
  text-decoration: underline;
}

li {
  display: inline-block;
  padding: 15px 30px;
  letter-spacing: 3px;
}

/* <--- Navigation */

/* footer ---> */

footer {
  padding: 15px;
  background-color: var(--main);
  text-align: center;
  color: var(--lightBackGr);
}

footer a,
footer i,
footer h1 {
  color: var(--lightBackGr);
  margin: 15px;
}

#active {
  text-decoration: underline;
}

.logo {
  max-height: 65px;
}

.header-text {
  padding-top: 80px;
  text-align: center;
  color: var(--main);
  font-family: var(--fontHeader);
  font-size: 3rem;
  letter-spacing: 5px;
}

.box1 {
  height: 60vh;
  background-image: url("/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 80%;
}

.box1-text {
  width: 80%;
  position: relative;
  left: 5%;
  top: 30%;
  color: var(--lightBackGr);
  font-family: var(--fontHeader);
  font-size: 3rem;
}

.box1-action {
  position: relative;
  left: 15%;
  top: 40%;
  font-family: var(--fontMain);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main);
  padding: 16px 32px;
  background-color: var(--lightBackGr);
  border: none;
}

.box1-action:hover {
  text-decoration: underline;
  background-color: var(--main);
  color: var(--lightBackGr);
  cursor: pointer;
}

.box2 {
  margin: 30px 0;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--lightBackGr);
}

.box2-container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  min-width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.box2-man {
  background-image: url(../images/man.webp);
}

.box2-woman {
  background-image: url(../images/woman.webp);
}

.box2-container:hover {
  cursor: pointer;
  opacity: 70%;
}

.box2-text {
  width: 250px;
  text-align: center;
  color: var(--lightBackGr);
  font-family: var(--fontHeader);
  font-size: 2.5rem;
  letter-spacing: 5px;
  background-color: rgba(6, 54, 66, 0.6);
  border-radius: 30px;
}

.box3 {
  margin: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* Products container layout ---> */

.product-container {
  min-width: 280px;
  margin: 16px;
  padding: 16px 0;
}

.image-container {
  padding: 10px;
  background-color: var(--lightBackGr);
  text-align: center;
  border-radius: 20px;
}

.image-container:hover {
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
}

.product-image {
  height: 250px;
}

.product-footer {
  text-align: center;
}

.product-name {
  padding: 5px;
  font-size: 1rem;
  color: var(--main);
}

.product-price {
  font-size: 1.5rem;
  color: var(--main);
}

.product-add-bag {
  padding: 10px;
  margin: 0 auto;
  width: fit-content;
  font-size: 1rem;
  color: var(--actionColor);
  background-color: var(--main);
  border-radius: 10px;
  border: 3px solid var(--actionColor);
  text-align: center;
}

.product-add-bag:hover {
  opacity: 70%;
  text-decoration: underline;
  cursor: pointer;
}

/* <--- Product container layout */

/* About page ---> */

.about-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
}

.parallax-img1 {
  background-image: url(../images/vecteezy_portrait-of-a-woman-in-hooded-red-raincoat-walking-in-park-on-a-rainy-day_2923156.jpg);
}

.parallax-img2 {
  background-image: url(../images/background1.webp);
  background-position: center left;
}

.about-text {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 30px 0px;
  font-family: var(--fontHeader);
  font-size: 3rem;
  color: var(--lightBackGr);
  background-color: var(--main);
  opacity: 80%;
}

.about-box {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: var(--main);
}

.about-container {
  width: 300px;
  margin: 30px;
  background-color: var(--main);
}

.about-container p {
  color: var(--lightBackGr);
}

.about-h1 {
  margin: 15px;
  text-align: center;
  color: var(--lightBackGr);
}

.about-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-image: url(../images/ViorelLazari.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

/* <--- About page */

/* products page ---> */

.products-list {
  margin: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* <---products page */

/* Contact us page ---> */

.contuct-main {
  background-color: var(--lightBackGr);
}

.contact-box1 {
  height: 30vh;
  width: 100%;
  background-image: url(../images/contact-baner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* background-attachment: fixed; */
}

.contact-text {
  max-width: 50%;
  position: relative;
  top: 30%;
  color: var(--main);
  font-family: var(--fontHeader);
  font-size: 3rem;
  text-align: center;
}

.contact-form {
  max-width: min-content;
  margin: 50px auto;
  border: none;
  color: var(--main);
}

legend {
  text-align: center;
}

label {
  font-family: var(--fontMain);
}

.form__input {
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  display: block;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 30px;
  resize: none;
  font-size: 1rem;
  font-family: var(--fontMain);
}
.form-text {
  height: 150px;
}

.contact-submit {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: none;
  color: var(--lightBackGr);
  background-color: var(--main);
  font-size: 2rem;
  border-radius: 10px;
}

.contact-submit:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 80%;
}

/* <---Contact us page */

@media screen and (min-width: 950px) {
  .navigation {
    display: flex;
    padding: 0;
  }

  .mobile-menue {
    display: none;
  }

  .contact-img {
    height: 500px;
    width: 30%;
    background-image: url(../images/contact1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
